@using StudentApp.Data
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BudgetBuddy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/MIS421FinalProjectGit/wwwroot/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/bc8d2b84e8.js" crossorigin="anonymous"></script>

</head>


<body>
    @*<header>*@
        <div class="bg-dark p-4" style="position: sticky;  top:0;  z-index: 100">
      <ul class="nav nav-white nav-pills">

        <li class="nav-item">
          <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i>Home</a>
        </li>
   
        <partial name="_LoginPartial" />
    
        
      </ul>
    </div>
  @*  </header>*@


<div class="text-center font-size-4 shadow-primary-lg bg-primary text-white p-6 mb-7" style="opacity:0.7;" >@ViewData["Title"]</div>
    
      
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     <!-- ========== FOOTER ========== -->
    <footer class="">
        <div class="bg-gray-4000">
            <div class="container px-md-5">
                <div class="d-flex flex-wrap align-items-center pt-5 pb-3d border-gray-4100">
                    <ul class="list-unstyled mx-n3 mb-0 d-flex flex-wrap align-items-center">
                        <li class="px-3">
                            <a href="https://www.facebook.com/NerdWallet" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-facebook-f fa-inverse"></i> <span class="ml-2">Facebook</span></a>
                        </li>
                        <li class="px-3">
                            <a href="https://twitter.com/NerdWallet" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-twitter fa-inverse"></i> <span class="ml-2">Twitter</span></a>
                        </li>
                        <li class="px-3">
                            <a href="https://www.instagram.com/accounts/login/?next=/nerdwallet/" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-instagram fa-inverse"></i> <span class="ml-2">Instagram</span></a>
                        </li>
                       
                    </ul>
                </div>
                 
            </div>
        </div>
        <div class="bg-gray-4300">
            <div class="container px-md-2">
                <div class="text-center d-md-flex flex-wrap align-items-center py-3">
                    <div class="font-size-13 text-gray-1300 mb-1 mb-md-0">Copyright © 2020, BudgetBuddy. All Rights Reserved</div>
                    <a href="../static/contact.html" class="font-size-13 h-g-white ml-md-auto">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- ========== END FOOTER ========== -->

     <!-- JS Global Compulsory -->
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    

    <!-- JS Vodi -->
    <script src="/assets/js/hs.core.js"></script>
    <script src="/assets/js/hs.validation.js"></script>
    <script src="/assets/js/hs.cubeportfolio.js"></script>
    <script src="/assets/js/hs.slick-carousel.js"></script>
    <script src="/assets/js/hs.fancybox.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
