@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    @{
    ViewData["Title"] = "Login";
}

 <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

@if (SignInManager.IsSignedIn(User))
{
     <li class="nav-item">
          <a class="nav-link" href="Bills">Bills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Budgets">Budgets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Transactions">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Investments">Investments</a>
        </li>
         <li class="nav-item">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
        <li class="nav-item">
        <form   asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link">Logout</button>
        </form>
    </li>
    
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

