@model MIS421FinalProjectGit.Models.Bill

@{
    ViewData["Title"] = "Add New Bill";
}


<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BillType" class="control-label"></label>
                <input asp-for="BillType" class="form-control" placeholder="BillType" />
                <span asp-validation-for="BillType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" placeholder="$00.00" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayPaid" class="control-label"></label>
                <input asp-for="DayPaid" class="form-control" />
                <span asp-validation-for="DayPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" placeholder="This was a bill for my foot cream"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-pill" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src=".../wwwroot/js/hs-unfold.min.js"></script>
    <script>
  $(document).on('ready', function () {
    // initialization of unfold
    var unfold = new HSUnfold('.js-hs-unfold-invoker').init();
  });
</script>
}
