@model MIS421FinalProjectGit.Models.AdminAccounts

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AdminAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminFName" class="control-label"></label>
                <input asp-for="AdminFName" class="form-control" />
                <span asp-validation-for="AdminFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminLName" class="control-label"></label>
                <input asp-for="AdminLName" class="form-control" />
                <span asp-validation-for="AdminLName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminEmail" class="control-label"></label>
                <input asp-for="AdminEmail" class="form-control" />
                <span asp-validation-for="AdminEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminLastLogin" class="control-label"></label>
                <input asp-for="AdminLastLogin" class="form-control" />
                <span asp-validation-for="AdminLastLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
