
/*IndexpageInvestment*/
body {
    font-family: Arial;
    margin: 0;
    background-color: #E8EAE3;
}

* {
    box-sizing: border-box;
}

img {
    /*vertical-align: middle;
    display: block;
    width: 10%;
    height: 10%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   
}

/* Position the image container (needed to position the left and right arrows) */
.container-slides {
    position: relative;
    margin-left: 85px;
    margin-right: 85px;
    background-color: lightslategray;
    margin-top: 85px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 100px;
    background-color: cadetblue;
    border-radius: 50px;
    opacity: 0.7;
    padding: 45px;
}


/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    background-color:antiquewhite;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 6px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.prev {
    left: 130px;
}
/* Position the "next button" to the right */
.next {
    right: 130px;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    width: 85%;
    margin-left: 7.5%;
    font-size: 30px;
    font-weight:400;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    margin-left: 76px;
    margin-right: 76px;
}
/* Six columns side by side */
.column {
    float: left;
    width: 15%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 1px;
}

/* Add a transparency effect for thumnbail images */
.demo  {
    opacity: 0.5;
}
    .demo cursor-t{
        margin:0 0 0 0;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }
#stock-ticker {
    padding: 10px;
    margin-right: 45px;
    margin-right: 45px;
    margin-top:5px; 
}
#bitcoin-ticker {
    padding: 10px;
    margin-right: 45px;
    margin-right: 45px;
    margin-top: 5px;
}
#terra-ticker {
    padding: 10px;
    margin-right: 45px;
    margin-right: 45px;
    margin-top: 5px;
}
#cardano-ticker {
    padding: 10px;
    margin-right: 45px;
    margin-right: 45px;
    margin-top: 5px;
}

.container-stock-ticker {
   
    display: flex;
    width: 100%;

    padding: 55px;
    margin-left: 45px;
    margin-bottom: 0;
    margin-top: 25px;
}
.crypto{
    padding:185px;
    margin-right:51%;
}
.nav-item-left {
    margin-right: 1%;
    background-color:cadetblue;
    border-radius:10%;
}
.nav-item-investment {
    margin-right: auto;
}
#myInvestments {
    margin-top: 85px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 100px;
    background-color:cadetblue;
    border-radius: 50px;
    opacity: 0.7;
    padding: 45px;
    color:aliceblue;
}

#myInvestments-insider {
    padding: 15px 15px;
    margin-bottom: 85px;
}
.table-clear {
    color: black;
    width: 100%;
    padding: 55px 55px 55px;
    
    
}
.the btn-primary btn-pill{
    color: antiquewhite;
}
.add-investment {
    background-color: inherit;
    margin-top: 45px;
    border-radius: 35%;
    float: left;
    border:none;
}
#investment-instruments-container {
    margin-top:65px;
    margin-bottom:45px;
}
.btn btn-primary btn-pill-last{
    margin-top: 100px;
    margin-bottom:75px;
}
.home-conteiner {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fcity&psig=AOvVaw2XA_qjz9UWRcfcPHLjFZCZ&ust=1651260082769000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCICJ3ai9t_cCFQAAAAAdAAAAABAU);
   
}
#home-paragraph{
    color:gainsboro;
    padding:35px;
}
#about-dysplay {
    color: aliceblue;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
    text-align: center;
    text-align: justify;
    padding: 35px 5px 35px 35px;
}
#about-container {
    margin-left: 5%;
    color: aliceblue;
    margin-top: 105px;
    padding: 5px;
}
.extra-content {
    background-color: slategrey;
    width: 60%;
    text-align: center;
    display: block;
    position: relative;
    border-radius: 50px;
    opacity: 0.7;
    align-items: center;
    margin-left: 20%;
}
#the-body {
    background-image: url(https://media.istockphoto.com/photos/smart-city-and-abstract-dot-point-connect-with-gradient-line-picture-id1203720647?k=20&m=1203720647&s=612x612&w=0&h=MWpNrTup0fDRKkGI2GlKbXKp8UqSufJBV2iD92fIOIk=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
    height: 500%;
    width: 100%;
    height: 100%;
    z-index: 1;   
}
#calculator-home{
    cursor:pointer;
    padding:calc(var(--border) + var(--gap));
}
.balance-container {
    background-color: #FF8C00;
    color: bisque;
    border-radius: 30px;
    margin-bottom: 55px;
    margin-left: 85px;
    margin-right: 85px;
    opacity: 0.8;
}
.balance-title {
    padding: 35px;
    color: bisque;
}

.budget-add {
    color: bisque;
    font-size: 20px;
    margin-left: 125px;
}
#balance-amount {
    font-size: 20px;
    color: bisque;
}
#the-Investments {
    margin-top: 5px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 100px;
    background-color: #5F9EA0;
    opacity: 0.7;
    padding: 45px;
    color: aliceblue;
    border-radius: 10px;
}
#budget-clicks{
    color:antiquewhite;
}