
/*IndexpageInvestment*/
body {
    font-family: Arial;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    /*vertical-align: middle;
    display: block;
    width: 10%;
    height: 10%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 6px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.prev {
    left: 125px;
}
/* Position the "next button" to the right */
.next {
    right: 150px;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    width: 85%;
    margin-left:7.5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 15%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:  0px 1px ;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
  .demo:hover {
        opacity: 1;
 
}
#stock-ticker {
    padding: 10px;
    margin-right: 45px;
    margin-right: 45px;
    margin-top:5px; 
}
#bitcoin-ticker {
    padding: 10px;
    margin-right: 45px;
    margin-right: 45px;
    margin-top: 5px;
}
#terra-ticker {
    padding: 10px;
    margin-right: 45px;
    margin-right: 45px;
    margin-top: 5px;
}
#cardano-ticker {
    padding: 10px;
    margin-right: 45px;
    margin-right: 45px;
    margin-top: 5px;
}

.container-stock-ticker {
   
    display: flex;
    width: 100%;

    padding: 10px;
    margin-left: 45px;
    margin-bottom: 0;
    margin-top: 25px;
}
.crypto{
    padding:85px 5px;
}

