@model MIS421FinalProjectGit.Models.MyTransaction

@{
    ViewData["Title"] = "Create";
}

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransType" class="control-label">Type</label>
                <select id="TransType" name="TransType" class="form-control">

<option selected="selected"value=""></option>
<option value="Credit">Credit</option>
<option value="Debit">Debit</option>
</select>
                <span asp-validation-for="TransType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransCategory" class="control-label">Category</label>
                <select id="TransCategory" name="TransCategory" class="form-control">

<option selected="selected"value=""></option>
<option value="Groceries">Groceries</option>
<option value="Takeout">Takeout</option>
<option value="Entertainment">Entertainment</option>
<option value="Gas">Gas</option>
<option value="Car Repair">Car Repair</option>
<option value="Transportation">Transportation</option>
<option value="House Repairs">House Repairs</option>
<option value="Pet">Pet</option>
<option value="Clothes">Clothes</option>
<option value="Medication">Medication</option>
<option value="Gym">Gym</option>
<option value="Haircut">Haircut</option>
<option value="Gift">Gift</option>
<option value="Donation">Donation</option>
<option value="Other">Other</option>
</select>
                <span asp-validation-for="TransCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" placeholder="$00.00" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comments" class="control-label">Comments</label>
                <input asp-for="comments" class="form-control" placeholder="Got a mohawk" />
                <span asp-validation-for="comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



