@model MIS421FinalProjectGit.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionID" />
            <div class="form-group">
                <label asp-for="TransType" class="control-label"></label>
                <input asp-for="TransType" class="form-control" />
                <span asp-validation-for="TransType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransCategory" class="control-label"></label>
                <input asp-for="TransCategory" class="form-control" />
                <span asp-validation-for="TransCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comments" class="control-label"></label>
                <input asp-for="comments" class="form-control" />
                <span asp-validation-for="comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccountID" class="control-label"></label>
                <input asp-for="UserAccountID" class="form-control" />
                <span asp-validation-for="UserAccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
